{% extends 'base2.html.twig' %}
{% block body %}
    <h1>Ajout equipement</h1>
    {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
    {{ form_end(form) }}
    <form method="post" action="{{ path('affE') }}">
        <input class="btn btn-danger" type="submit" value="Annuler">
    </form>
{% endblock %}



