{% extends 'base2.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<section class="page-info-section set-bg" data-setbg="" >
    <div class="login_register_wrap section" >
        <div class="container">
            <div class="row justify-content-center" >
                <div class="col-xl-6 col-md-10" >
                    <div class="login_wrap" style="margin-top: 50px";  >
                        <div class="padding_eight_all bg-white" >
                            <table >
                                <div style="background-color: #1e1e27; color: #ffb320; border: 2px" >
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
