{{ form_start(form,{'attr':{'novalidate' : 'novalidate'}}) }}
    {{ form_widget(form) }}z
<hr>
    <button class="button" class="btn btn-info" style="margin-left: 200px"; width="1000px";>{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
