{% extends 'base2.html.twig' %}

{% block title %}Modifier mon mot de passe {% endblock %}

{% block body %}
<section class="page-info-section set-bg" data-setbg="" >
    <div class="login_register_wrap section" >
        <div class="container">
            <div class="row justify-content-center" >
                <div class="col-xl-6 col-md-10" >
                    <div class="login_wrap" style="margin-top: 50px";  >
                        <div class="padding_eight_all bg-white" >
                            <table >
                                <div  >
    <h1>Modifier mon mot de passe </h1>
        {{form(form)}}



                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
